*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Albert Sans", sans-serif;

  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 32px;
}

section {
  margin: 64px 0px 64px 0px;
}

/* untuk layar xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* untuk layar sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* untuk layar md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* untuk layar lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .section {
    margin-top: 10rem;
  }
}

/* untuk layar xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* untuk layar 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

/* Main Start  */
main {
  width: 100%;
}
/* Main End  */
