#visit {
  width: 100%;
}

.visit__wrapper {
  width: 100%;
}

.visit__title {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.visit__title h2 {
  color: #005bab;
  text-align: left;
  font-size: 36px;
  margin-bottom: 4px;
}

.visit__title p {
  text-align: left;
  font-size: 18px;
  margin-top: 8px;
}

.visit__wrapper hr {
  height: 4px;
  border: none;
  background-color: rgb(95, 95, 95);
  border-radius: 10px;
}

.visit__card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 30px;
  margin-top: 48px;
}

.visit__card {
  width: 380px;
  height: auto;
  background-color: white;
  border: #005bab 2px solid;
  border-radius: 16px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.visit__card:hover {
  transform: scale(1.04);
}

.visit__card img {
  width: 100%;
}

.visit__card article {
  padding: 24px;
}

.visit__card h3 {
  margin-top: 4px;
}

.visit__button {
  border: #005bab 2px solid;
  color: rgb(0, 0, 0);
  margin-top: 10px;
  padding: 10px;
  width: fit-content;
  border-radius: 8px;
  margin-top: 20px;
  transition: background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.visit__button a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.visit__button:hover {
  background-color: #005bab;
  color: white;
}

.visit__button:hover a {
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background-color: #f1f1f1;
  color: #333;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1;
}

.dropdown-menu a {
  display: block;
  padding: 8px 10px;
  text-decoration: none;
  color: #333;
}

.dropdown-menu a:hover {
  background-color: #f1f1f1;
}

/* ((Laptop) 1024px dan di bawahnya) */
@media screen and (max-width: 1024px) {
  .visit__card {
    width: 285px;
  }
}

/* ((Tablet) 768px dan di bawahnya) */
@media screen and (max-width: 768px) {
  .visit__card {
    width: 670px;
  }
}

/* ((Mobile L) 425px dan di bawahnya) */
@media screen and (max-width: 425px) {
  .visit__card {
    width: 385px;
  }
}

/* ((Mobile S) 320px dan di bawahnya) */
@media screen and (max-width: 320px) {
}
